In [1]:
from polarbear.data import wikidata as pw

In [2]:
pw.get_companies().head()

,id,company,exchange_id,exchange_name,ticker
0,http://www.wikidata.org/entity/Q2309,AvtoVAZ,http://www.wikidata.org/entity/Q2632892,Moscow Exchange,AVAZ
1,http://www.wikidata.org/entity/Q2311,Airbus SE,http://www.wikidata.org/entity/Q842108,Euronext,EAD
2,http://www.wikidata.org/entity/Q2311,Airbus SE,http://www.wikidata.org/entity/Q151139,Frankfurt Stock Exchange,EAD
3,http://www.wikidata.org/entity/Q2311,Airbus SE,http://www.wikidata.org/entity/Q617426,Bolsa de Madrid,EAD
4,http://www.wikidata.org/entity/Q6686,Renault,http://www.wikidata.org/entity/Q842108,Euronext,RNO

In [3]:
pw.get_countries().head()

,id,country,population,code2,code3,latitude,longitude
0,http://www.wikidata.org/entity/Q399,Armenia,2976566,AM,ARM,40.383333,44.95
1,http://www.wikidata.org/entity/Q672,Tuvalu,9876,TV,TUV,-7.475,178.005556
2,http://www.wikidata.org/entity/Q228,Andorra,79218,AD,AND,42.558333333333,1.5552777777778
3,http://www.wikidata.org/entity/Q189,Iceland,332529,IS,ISL,64.830555555556,-17.986666666667
4,http://www.wikidata.org/entity/Q227,Azerbaijan,9416801,AZ,AZE,40.3,47.7

In [4]:
pw.get_cities().head()

,id,city,population,country_id,country,latitude,longitude
0,http://www.wikidata.org/entity/Q79339,Pilot Point,68,http://www.wikidata.org/entity/Q30,United States of America,57.5603,-157.582
1,http://www.wikidata.org/entity/Q79346,Rainsville,4948,http://www.wikidata.org/entity/Q30,United States of America,34.493254,-85.84653300000001
2,http://www.wikidata.org/entity/Q79349,Winfield,4717,http://www.wikidata.org/entity/Q30,United States of America,33.928258,-87.80799
3,http://www.wikidata.org/entity/Q79355,Greers Ferry,891,http://www.wikidata.org/entity/Q30,United States of America,35.575555555556,-92.164166666667
4,http://www.wikidata.org/entity/Q79357,Mount Ida,1076,http://www.wikidata.org/entity/Q30,United States of America,34.5539,-93.6306