# ravenclaw.data.wikidata

In [1]:
from ravenclaw.data.wikidata import *

In [12]:
get_books(author='J. K. Rowling').head(9)

,id,label,author,series,publication_date
0,http://www.wikidata.org/entity/Q43361,Harry Potter and the Philosopher's Stone,J. K. Rowling,Harry Potter,1997-06-30T00:00:00Z
1,http://www.wikidata.org/entity/Q47209,Harry Potter and the Chamber of Secrets,J. K. Rowling,Harry Potter,1998-07-02T00:00:00Z
2,http://www.wikidata.org/entity/Q47598,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,Harry Potter,1999-07-08T00:00:00Z
3,http://www.wikidata.org/entity/Q46751,Harry Potter and the Goblet of Fire,J. K. Rowling,Harry Potter,2000-07-08T00:00:00Z
4,http://www.wikidata.org/entity/Q194424,Fantastic Beasts and Where to Find Them,J. K. Rowling,Harry Potter,2001-01-01T00:00:00Z
5,http://www.wikidata.org/entity/Q192258,Quidditch Through the Ages,J. K. Rowling,Harry Potter,2001-03-12T00:00:00Z
6,http://www.wikidata.org/entity/Q80817,Harry Potter and the Order of the Phoenix,J. K. Rowling,Harry Potter,2003-06-21T00:00:00Z
7,http://www.wikidata.org/entity/Q46887,Harry Potter and the Half-Blood Prince,J. K. Rowling,Harry Potter,2005-07-16T00:00:00Z
8,http://www.wikidata.org/entity/Q46758,Harry Potter and the Deathly Hallows,J. K. Rowling,Harry Potter,2007-07-21T00:00:00Z

In [10]:
get_companies().head()

,id,company,exchange_id,exchange_name,ticker
0,http://www.wikidata.org/entity/Q248,Intel,http://www.wikidata.org/entity/Q82059,NASDAQ,INTC
1,http://www.wikidata.org/entity/Q568817,Digital Domain,http://www.wikidata.org/entity/Q496672,Hong Kong Stock Exchange,0547
2,http://www.wikidata.org/entity/Q906055,Orix,http://www.wikidata.org/entity/Q13677,New York Stock Exchange,IX
3,http://www.wikidata.org/entity/Q7243481,Primerica,http://www.wikidata.org/entity/Q13677,New York Stock Exchange,PRI
4,http://www.wikidata.org/entity/Q7730196,Yuexiu Property,http://www.wikidata.org/entity/Q496672,Hong Kong Stock Exchange,0123

In [5]:
get_countries().head()

,id,country,population,code2,code3,latitude,longitude
0,http://www.wikidata.org/entity/Q399,Armenia,2976566,AM,ARM,40.383333,44.95
1,http://www.wikidata.org/entity/Q672,Tuvalu,9876,TV,TUV,-7.475,178.005556
2,http://www.wikidata.org/entity/Q228,Andorra,79218,AD,AND,42.558333333333,1.5552777777778
3,http://www.wikidata.org/entity/Q189,Iceland,332529,IS,ISL,64.830555555556,-17.986666666667
4,http://www.wikidata.org/entity/Q227,Azerbaijan,9416801,AZ,AZE,40.3,47.7

In [6]:
get_exchanges().head()

,id,name,labels,country,country_code2,country_code3,currency
0,http://www.wikidata.org/entity/Q4437992,Spokane Stock Exchange,None,None,None,None,None
1,http://www.wikidata.org/entity/Q4438533,Midwest Stock Exchange,None,None,None,None,None
2,http://www.wikidata.org/entity/Q4470480,Ukrainian Exchange,UX,Ukraine,UA,UKR,None
3,http://www.wikidata.org/entity/Q4491711,NEX Stock Exchange,None,None,None,None,None
4,http://www.wikidata.org/entity/Q4491713,Stock Exchange of Mauritius,SEM,Mauritius,MU,MUS,None